@use "../abstract/colors";
@use "../abstract/mixins.scss";

.modal__section{
    margin: 0 auto;
    box-shadow: 0 0 1rem 1rem map-get(colors.$colors, "background");
    width: 60rem;
    height: 60rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 50%;
    transform: translate(-50%, 27%);
    overflow-y: scroll;
    background: white;
}

.modal__button{
    @include mixins.button;
}

.modal__uitleg{
    width: 100%;
    font-size: 100%;
    text-align: center;
}

.modal__li{
    padding: 0rem 1rem;
    font-size: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    border: .2rem solid rgb(131, 195, 193);
    border-radius: 1rem;
    padding: 1.5rem;
}

.modal__vraag{
    width: 90%;
    font-size: 120%;
}

.modal__wrapper{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__input{
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid currentColor;
    border-radius: 0.15rem;
    transform: translateY(-0.075rem);
    border-radius: 0.5rem;

    &:checked{
        background: map-get(colors.$colors, "background");
    }

    &::before{
        content: "";
        width: 1rem;
        height: 1rem;
        transform: scale(0);
        transition: 120ms trasform ease-in-out;
        box-shadow: inset 1rem 1rem map-get(colors.$colors, "background");
    }

    &:checked::before{
        transform: scale(1);
    }
}

.vragen__buttonWrapper{
    height: 10rem;
    width: 100%;
}

