.main{
    width: 100vw;
    height: 110rem;
    display: flex;

    &__wrapper{
        display: flex;
        width: 100%;
        height: 110rem;
        flex-wrap: wrap;
        list-style: none;
    }

    &__section{
        &--groen{
            position: relative;
            width: 50%;
            height: 55rem;
        }

        &--geel{
            position: relative;
            width: 50%;
            height: 55rem;
        }

        &--oranje{
            position: relative;
            width: 50%;
            height: 55rem;
        }

        &--rood{
            position: relative;
            width: 50%;
            height: 55rem;
        }
    }
}