<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succesdagboek</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/a8f4354635.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <section class="dagboek" id="js--calendar">
        <article class="dagboek__container">
          <h1 class="dagboek__heading">SuccesDagboek Kalender</h1>
          <ul class="dagboek__select">
            <li class="dagboek__selectli dagboek__selectli--first" id="prevMonthButton">&lt;</li>
            <li class="dagboek__selectli dagboek__selectli--second">2023 <br>April</li>
            <li class="dagboek__selectli dagboek__selectli--third" id="nextMonthButton">&gt;</li>
          </ul>
          <ul class="dagboek__list" id="js--dates">
        
          </ul>
        </article>
      </section> 
      
      <section class="modal">
        <article class="modal__content">
            <button class="modal__save" type="submit">x</button>
          <h2 class="modal__date"></h2>
          <form class="modal__form">
            <div class="modal__wrap">
            <label for="modal__input1">Succes 1</label>
            </div>
            <input type="text" id="modal__input1" name="modal__input1"  class="modal__input">
            <div class="modal__wrap">
            <label for="modal__input2">Succes 2</label>
            </div>
            <input type="text" id="modal__input2" name="modal__input2" class="modal__input">
            <div class="modal__wrap">
            <label for="modal__input3">Succes 3</label>
            </div>
            <input type="text" id="modal__input3" name="modal__input3" class="modal__input">
          </form>
        </article>
    </section> -->          
</body>
</html>