<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoplicht</title>
    <script src="https://kit.fontawesome.com/8f8681d983.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/stoplicht.js" defer></script>
</head>
<body>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__listItem nav__listItem--first">
                <img src="/img/site-logo-2.png" alt="" class="nav__img">
            </li>
            <li class="nav__listItem nav__listItem--second">
                <h2 class="nav__h2">Stress Stoplicht</h2>
            </li>
            <li class="nav__listItem nav__listItem--third">
                <p class="nav__naam">Naam van gebruiker</p>
            </li>
        </ul>
    </nav>
</body>
</html>