@use "../abstracts/colors";

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dagboek{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10rem;
}

.dagboek__heading{
    color: map-get(colors.$main,"primary");
    padding: 3rem;
    font-size: 4.5rem;
}

.dagboek__container{
    width: 55rem;
    height: 100%;
    border: .3rem solid  map-get(colors.$main,"primary");
    border-radius: 1.5rem;
}

.dagboek__list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 4rem;
}

.dagboek__select{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 12rem;
    flex-wrap: wrap;
}


.dagboek__selectli{
    margin-bottom: 5rem;
    color: map-get(colors.$main,"primary");
}

.dagboek__selectli--second{
    text-align: center;
}



.dagboek__listitem{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    border: .3rem solid  map-get(colors.$main,"primary");
    display: flex;
    justify-content: center;
    align-items: center;
}


.dagboek__listitem:hover{
    background: map-get(colors.$main,"primary");
    transition: 0.2s;
    cursor: pointer;
    color: white;
}

.dagboek__headerWrapper{
    display: flex;
    justify-content: space-between;
}

.modal{
    display: flex;
    justify-content: center;
    padding: 5rem;
    display: none;
}



.modal--on{
    display: block;
}

.modal__wrapper{
    display: flex;
    justify-content: flex-start;
}

.modal__article{
    width: 80rem;
    height: 80rem;
    border: map-get(colors.$main,"primary") solid 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.modal__li{
    gap: 3rem;
}

.modal__x{
    color: map-get(colors.$main,"primary");
    padding: 3rem;
    font-size: 4.5rem;
    position: absolute;
    top: 5%;   
}

.modal__wrapper{
    display: flex;
    justify-content: center;
}

input{
    width: 50rem;
    border-radius: 4rem;
    border: 0.3rem solid map-get(colors.$main,"primary");
    height: 15rem;
    overflow-x: scroll;
}

input:focus{
    outline: none;
}