@use "../abstract/colors";
@use "../components/components.scss";

.gedachtes__form{
    height: calc(100vh - 6rem);
    width: 100%;
    padding: 3rem;
}

.gedachtes__section{
    width: 100%;
    flex-wrap: wrap;
}

.gedachtes__bovenste--section{
    display: flex;
    justify-content: center;
    align-items: center;

}

.gedachtes__onderste--section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem ;
}

.gedachtes__ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;

}

.gedachte__li{
    list-style: none;
    width: 40rem;
    height: 40rem;
    border: #78BCBA solid .5rem;
    border-radius: components.$border-radius--gedachtes;
}

.gedachte__figure--head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
    height: 5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.gedachte__question{
    color: #78BCBA;
    background: white;
    width: 3rem;
    height: 3rem;
    font-size: 100%;
    border-radius: 50%;
    border: #78BCBA solid .2rem;

    &:hover{
        cursor: pointer;
        background: #78BCBA;
        color: white;
    }
}

.gedachte__h2{
    color: #78BCBA;
    text-underline-offset: 1rem;
    text-decoration: underline;
    text-decoration-thickness: .25rem;
    text-decoration-color: #78BCBA;
}

.gedachte__figure--textarea{
    background: white;
    width: 96%;
    border: #78BCBA solid .5rem;
    margin: 2rem .8rem;
    height: 75%;
    border-radius: 2rem;
}

.textarea__figure{
    border: none;
    outline: none;
    color: #78BCBA;
    font-size: 2rem;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    border-radius: 1.5rem;
    
}




