@use "../abstract/colors";
@use "../components/components.scss";

.gedachtes__main{
    height: calc(100vh - 6rem);
    width: 100%;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.gedachteUitleg{
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
    color: #78BCBA;
    padding-bottom: 2rem;
}

.gedachtes__section{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gedachtes__ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;

}

.gedachte__li{
    list-style: none;
    width: 32rem;
    height: 32rem;
    border: #78BCBA solid .5rem;
    border-radius: components.$border-radius--gedachtes;
}

.gedachte__figure--head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
    height: 5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.gedachte__question{
    color: #78BCBA;
    background: white;
    width: 3rem;
    height: 3rem;
    font-size: 100%;
    border-radius: 50%;
    border: #78BCBA solid .2rem;

    &:hover{
        cursor: pointer;
        background: #78BCBA;
        color: white;
    }
}

.gedachte__h2{
    font-size: 125%;
    color: #78BCBA;
    text-underline-offset: 1rem;
    text-decoration: underline;
    text-decoration-thickness: .25rem;
    text-decoration-color: #78BCBA;
}

.gedachte__figure--textarea{
    background: white;
    width: 95%;
    border: #78BCBA solid .5rem;
    margin: 2rem .8rem;
    height: 75%;
    border-radius: 2rem;
}

.textarea__figure{
    border: none;
    outline: none;
    color: #78BCBA;
    font-size: 90%;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    border-radius: 1.5rem;
    
    &::placeholder{
        color: #78BCBA;
    }
}

// Last card
.gedachte__figure__head{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gedachte__figure__body{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.gedachteP{
    color: #78BCBA;
    font-family: sans-serif;
    text-align: center;
}

.gedachte__downloadBtn{
    padding: .5rem;
    background: none;
    border:  .2rem solid #78BCBA;
    border-radius: 1rem;
    color: #78BCBA;
    font-size: 75%;
    font-weight: 800;

    &:hover{
        color: white;
        background: #78BCBA;
        cursor: pointer;
    }
}

@keyframes gedachtePopup{
    0%{
        opacity: .5;
        transform: translateY(2rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}





