@use "./../abstract/colors";

.header{
    background: colors.$header;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.1);
    width: 100%;
    height: 6rem;
    display: flex;
}

.header__ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__li{
    list-style: none;
}