@use "../components/components.scss";

.modaal__figure{
    display: none;
    position: fixed;
    background: #78BCBA;
    border: #78BCBA solid .5rem;
    width: 32rem;
    height: 32rem;
    border-radius: components.$border-radius--gedachtes;
}

.modaal__figure--show{
    display: block;
}

.modaal__header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 100%;
    height: 5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.modaal__h2{
    color: white;
    font-family: sans-serif;
    font-size: 125%;
    text-underline-offset: 1rem;
    text-decoration: underline;
    text-decoration-thickness: .25rem;
    text-decoration-color: white;
}

.modaal__button{
    background: none;
    color: white;
    font-size: 100%;
    width: 3rem;
    height: 3rem;
    border: white solid .2rem;
    border-radius: 50%;

    &:hover{
        cursor: pointer;
        background: #78BCBA;
        color: white;
    }
}

.modaalP{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    border: #78BCBA solid .5rem;
    border-radius: 2rem;
    margin: 2rem 0.8rem;
    font-family: sans-serif;
    font-size: 90%;
    height: 75%;
    padding: 1rem;
    background: white;
    color: #78BCBA;
}