.stoplicht{
    &--groen{
        height: 10rem;//original 55rem
        width: 10rem;//original 55rem
        border: 0.3rem solid #7ABFBD;
        border-radius: 2rem;
        background: #afedc0;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
        grid-column-start: 1;
        grid-row-start: 1;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &--rood{
        height: 10rem;//original 55rem
        width: 10rem;//original 55rem
        border: 0.3rem solid #7ABFBD;
        border-radius: 2rem;
        background: #ff7f83;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
        position: absolute;
        top: 0;
        left: 0;
    }

    &--geel{
        height: 10rem;//original 55rem
        width: 10rem;//original 55rem
        border: 0.3rem solid #7ABFBD;
        border-radius: 2rem;
        background: #fbff99;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &--oranje{
        height: 10rem;//original 55rem
        width: 10rem;//original 55rem
        border: 0.3rem solid #7ABFBD;
        border-radius: 2rem;
        background: #ffda9c;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__nav{
        list-style: none;
        align-items: center;
        justify-content: center;
        height: 10rem;
        width: 100%;
        display: flex;
        border-top-left-radius: 1.8rem;
        border-top-right-radius: 1.8rem;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
    }

    &__article{
        display: flex;
        width: calc(100%/3);
        align-items: center;

        &--first{
            justify-content: flex-start;
            padding-left: 4rem;
            animation-duration: 0.6s;
        }

        &--second{
            justify-content: center;
        }

        &--third{
            justify-content: flex-end;
            padding-right: 4rem;
            animation-duration: 0.6s;
        }
    }

    &__h2{
        opacity: 0;
        animation-delay: 0.6s;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        font-size: 180%;
        font-weight: 500;
        color: #51ABA9;
        -webkit-text-decoration: #51ABA9 solid underline;
        text-decoration: #51ABA9 solid underline;
        -webkit-text-underline-position: under;
        text-underline-position: under;
    }

    &__gevoel{
        width: 9.7rem;
        height: 9.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        &:hover{
            cursor: pointer;
        }
    }

    &__gezichtje{
        object-fit: contain;
        height: 9rem;
        aspect-ratio: 1/1;
        border-radius: 2rem;
    }

    &__closeButton{
        background: transparent;
        border: 0.2rem solid #7ABFBD;
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        opacity: 0;
        animation-delay: 0.6s;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        transition: 0.4s all;

        &:hover{
            cursor: pointer;
            background: white;
        }
    }

    &__icon{
        font-size: 200%;
        color: #51ABA9;
    }

    &__form{
        display: flex;
        width: 0%;
        height: 0rem; //41.25rem
        padding: 4rem;
        flex-direction: column;
        gap: 3rem;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    &__formContainer{
        display: flex;
        justify-content: space-around;
    }

    &__textarea{
        height: 30rem;
        width: 23rem;
        border: 0.2rem solid #51ABA9;
        border-radius: 2rem;
        padding: 1rem;
        font-size: 150%;
        resize: none;
        color: #51ABA9;

        &::placeholder{
            color: #51ABA9;
            -webkit-text-decoration: #51ABA9 solid underline;
            text-decoration: #51ABA9 solid underline;
            -webkit-text-underline-position: under;
            text-underline-position: under;
        }
    }

    &__buttonWrapper{
        height: 5rem;
        width: 100%;
        padding-left: 4rem;
    }

    &__save{
        opacity: 0;
        animation-delay: 0.6s;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        border: 0.2rem solid #51ABA9;
        text-align: center;
        background: transparent;
        width: 10rem;
        height: 5rem;
        padding: 1rem;
        font-size: 150%;
        transition: 0.4s all;
        border-radius: 2rem;
        cursor: pointer;

        &:hover{
            background: white;
            color: #7ABFBD;
        }
    }
}

@keyframes expandStoplicht{
    0%{
        height: 10rem;
        width: 10rem;
    }
    20%{
        height: 10rem;
        width: 30rem;
    }
    40%{
        height: 10rem;
        width: 55rem;
    }
    100%{
        height: 55rem;
        width: 55rem;
    }
}

@keyframes closeStoplicht{
    0%{
        height: 55rem;
        width: 55rem;
    }
    40%{
        height: 10rem;
        width: 50rem;
    }
    60%{
        height: 10rem;
        width: 30rem;
    }
    100%{
        height: 10rem;
        width: 10rem;
    }
}

@keyframes popup{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes popDown{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes formPopup{
    0%{
        opacity: 1;
        width: 100%;
        height: 0rem;
    }
    100%{
        opacity: 1;
        width: 100%;
        height: 38rem;
    }
}

@keyframes formDisapear{
    0%{
        opacity: 1;
        width: 100%;
        height: 38rem;
    }
    100%{
        opacity: 0;
        width: 100%;
        height: 0rem;
    }
}

@media screen and (max-width: 75rem){
    .main{
        &__section{
            &--groen{
                position: relative;
                width: 100%;
                height: 55rem;
                display: flex;
                justify-content: center;
            }
    
            &--geel{
                position: relative;
                width: 100%;
                height: 55rem;
                display: flex;
                justify-content: center;
            }
    
            &--oranje{
                position: relative;
                width: 100%;
                height: 55rem;
                display: flex;
                justify-content: center;
            }
    
            &--rood{
                position: relative;
                width: 100%;
                height: 55rem;
                display: flex;
                justify-content: center;
            }
        }
    }

    .stoplicht{
        &--groen{
            height: 55rem;//original 55rem
            width: 55rem;//original 55rem
            position: relative;
        }
    
        &--rood{
            height: 55rem;//original 55rem
            width: 55rem;//original 55rem
            position: relative;
        }
    
        &--geel{
            height: 55rem;//original 55rem
            width: 55rem;//original 55rem
            position: relative;
        }
    
        &--oranje{
            height: 55rem;//original 55rem
            width: 55rem;//original 55rem
            position: relative;
        }

        &__h2{
            opacity: 1;
        }

        &__closeButton{
            opacity: 1;
        }

        &__form{
            opacity: 1;
            width: 100%;
        }
    }
}

@media screen and (max-width: 41.25rem){
    .stoplicht{
        &--groen{
            height: 55rem;//original 55rem
            width: 100%;//original 55rem
            position: relative;
        }
    
        &--rood{
            height: 55rem;//original 55rem
            width: 100%;//original 55rem
            position: relative;
        }
    
        &--geel{
            height: 55rem;//original 55rem
            width: 100%;//original 55rem
            position: relative;
        }
    
        &--oranje{
            height: 55rem;//original 55rem
            width: 100%;//original 55rem
            position: relative;
        }

        &__h2{
            opacity: 1;
        }

        &__closeButton{
            opacity: 1;
        }

        &__form{
            opacity: 1;
            width: 100%;
        }
    }

    .main{
        &__section{
            &--groen{
                padding: 1rem;
            }
    
            &--geel{
                padding: 1rem;
            }
    
            &--oranje{
                padding: 1rem;
            }
    
            &--rood{
                padding: 1rem;
            }
        }
    }
}
